* { border: none; font-family: 'JetBrains Mono', sans-serif; font-size: 14px; }

window#waybar { background-color: transparent; }

#waybar {
    /* Cor Hexadecimal Sólida (Catppuccin Mocha Base) */
    background-color: #1e1e2e; 
    border-radius: 20px;
    border: 2px solid #cba6f7;
}

#workspaces button {
    padding: 0 10px; color: #cdd6f4; background-color: transparent; border-radius: 20px;
}

#workspaces button.active {
    color: #1e1e2e; background-color: #cba6f7;
}

#cpu, #memory, #pulseaudio, #clock, #mpris {
    padding: 2px 15px;
    background-color: #45475a; /* Fundo sólido para contraste */
    border-radius: 15px;
    color: #f5c2e7;
    margin: 4px 2px;
}

#custom-power {
    padding: 2px 15px;
    background-color: #cba6f7;
    border-radius: 15px;
    color: #1e1e2e;
    font-size: 18px;
    margin: 4px 2px;
}

#custom-arch { font-size: 20px; padding: 0 10px; color: #89b4fa; }
